.opts {
  position:absolute;
  top: 40px;
  left: 50px;

  transform: translate(0%,0%);

  /* width:130px; */

  display:flex;
  flex-direction:row;
}

@font-face {
  font-family: "ActionH";
  src: url("resources/ActionCondensedBold-Grade1-Web.woff") format("woff"),
       url("resources/ActionCondensedBold-Grade1-Web.woff2") format("woff2");
}

@font-face {
  font-family: "ActionT";
  src: url("resources/ActionTextDark-Regular-Web.woff") format("woff"),
       url("resources/ActionTextDark-Regular-Web.woff") format("woff2");
}

@font-face {
  font-family: "ActionB";
  src: url("resources/ActionTextDark-Bold-Web.woff") format("woff"),
       url("resources/ActionTextDark-Bold-Web.woff") format("woff2");
}

input[type=button] {
  font-family: "ActionH";
  font-size: 30px;
  letter-spacing:0.03em;
  margin-right:30px;
  padding:0;
  box-sizing:border-box;
  border:none;
  background-color:rgba(255, 255, 255, 0.0);
  color:#666666;
  transition-duration:0.2s;
}

input[type=button]:hover {
  /* background-color: red; */
  cursor:pointer;

  text-decoration:underline;
  text-decoration-color:#a02827;
}

input[type=button]:focus {
  /* background-color: red; */
  background-color: none;

  color:#a02827;
  text-decoration:underline;
}

.entryMain {
  position: absolute;
  left: 50px;
  top: 150px;
}

.entryMain .headline {
  font-family: "ActionH";

  font-size:38pt;
  line-height:45px;

  width: 200px;
}

.entryMain .pBody {
  font-family: "ActionT";
  padding-top: 10px;

  font-size:14pt;
  line-height:28px;

  width: 320px;
}

strong {
  font-family: "ActionB";
}

#entry0{
  display:none;
}

#entry1{
  display:none;
}

#entry2{
  display:none;
}

#entry3{
  display:none;
}

#entry4{
  display:none;
}

#entry5{
  display:none;
}
