.opts {
  position:absolute;
  top:10px;
  left:10px;

  transform: translate(0%,0%);

  width:130px;

  display:flex;
  flex-direction:column;
}

@font-face {
  font-family: "Action";
  src: url("resources/ActionCondensedMedium-Grade1-Web.woff") format("woff"),
       url("resources/ActionCondensedMedium-Grade1-Web.woff2") format("woff2");
}

input[type=button] {
  font-family: "Action";
  font-size: 26px;
  letter-spacing:0.75px;
  margin-right:5px;
  padding: 5px 10px 5px 10px;
  box-sizing:border-box;
  border:1px solid white;
  background-color:rgba(255, 255, 255, 0.0);
  color:black;
  transition-duration:0.4s;
}

input[type=button]:hover {
  /* background-color: red; */
  cursor:pointer;

  background-color: #54a5ec;
  border:1px solid #54a5ec;
  color:black;
}

input[type=button]:focus {
  /* background-color: red; */
  background-color: #54a5ec;
  border:1px solid #54a5ec;
  color:black;
}
