@font-face {
  font-family: 'Univers LT Std';
  src: url('UniversLTStd-Light.woff2') format('woff2'),
      url('UniversLTStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  color:white;
  font-family:'Univers LT Std';
  font-size:12px;
  background-color:black;
}

h2 {
  color:white;
  font-weight: normal;
  font-family: 'Univers LT Std';
  font-size: 12px;
  margin-top:5px;
}

.tl-image {
  padding-top: 20px;
  padding-left: 20px;
}

.tr-info {
  position:absolute;
  display:flex;
  flex-direction: column;
  width:200px;
  right:20px;
  top:20px;
}

.tr-info .tr-text{
  padding-top: 10px;
  font-family: 'Univers LT Std';
}

.br-image {
  position:absolute;
  right:20px;
  bottom:20px;
}

button[type=button] {
  margin-right:5px;
  padding: 5px 10px 5px 10px;
  box-sizing:border-box;
  border:1px solid white;
  background-color:rgba(255, 255, 255, 0.0);
  color:white;
  transition-duration:0.4s;
}

button[type=button]:hover {
  /* background-color: red; */
  cursor:pointer;

  background-color: #dadada;
  border:1px solid #dadada;
  color:black;
}

button[type=button]:focus {
  /* background-color: red; */
  background-color: #dadada;
  border:1px solid #dadada;
  color:black;
}

.bl-button {
  position:absolute;
  left:20px;
  bottom:10px;
  zoom:0.9;
}

.bl-button p {
  text-align: left;
  width:260px;
}

.bl-button #status {
  font-size:15px;
  /* color: red; */
}

.bl-button #download {
  width:260px;
}

.flex-container {
  padding-top: 20px;
  padding-left: 20px;
  width:260px;
  align-items:left;
  /* margin-bottom:50px; */
}

.flex-container > div {
  margin-bottom:10px;
}

.top-textbox {
  display: flex;
  flex-direction: column;
}

.mainTextInput {
  color:white;
  font-family:'Univers LT Std';
  font-size:12px;

  color:white;
  width:100%;
  height:40px;
  box-sizing:border-box;
  border:1px solid white;
  background-color:rgba(255, 255, 255, 0.0);
  resize:none;
  padding-left:5px;
  margin-bottom:5px;
}

input[type=button] {
  margin-right:5px;
  padding: 5px 10px 5px 10px;
  box-sizing:border-box;
  border:1px solid white;
  background-color:rgba(255, 255, 255, 0.0);
  color:white;
  transition-duration:0.4s;
}

input[type=button]:hover {
  background-color: #dadada;
  border:1px solid #dadada;
  color:black;
}

input[type=button]:focus {
  background-color: white;
  color:black;
  outline:none;
}

.button-container {
  border-top:1px solid white;
  padding-left:0px;
  margin:9px 0 9px 0;
  list-style-type:none;
  display:flex;
  flex-direction: column;
}

#button-group-cylinder{
  display:block;
}

#button-group-field{
  display:none;
}

#button-group-cascade{
  display:none;
}

#major-cylinder-slider-container {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  padding-bottom:6px;
}

#major-field-slider-container {
  display:none;
  flex-direction:row;
  justify-content: space-between;
  padding-bottom:6px;
}

#major-cascade-slider-container {
  display:none;
  flex-direction:row;
  justify-content: space-between;
  padding-bottom:6px;
}

.button-container li {
  text-align:center;
  font-size: 12px;
  float:left;
  margin:0px 6.65px 6px 0px;
  width:80px;
  height:25px;
  position:relative;
}

.button-container label, .button-container  input {
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.button-container input[type="radio"] {
  opacity:0.011;
  z-index:10;
}

.button-container input[type="radio"]:checked + label {
  background:white;
  color:black;
}

.button-container label {
  padding:5px;
  border:1px solid white;
  cursor:pointer;
  z-index:9;
}

.button-container label:hover {
  background: #dadada;
  border:1px solid #dadada;
  color:black;
}

.slider-container {
  display: flex;
  flex-direction: column;
  list-style-type:none;
  border-top:1px solid white;
  padding-right:0px;
  padding-left:0px;
  margin-right:0px;
  width:120px;

  margin-top:0px;
  margin-bottom:5px;
}

.slider {
  margin-top:5px;
  display: flex;
  flex-direction: column;
}

#button-group-sizes li {
  list-style-type:none;
}

div.color-toggles{
  height:65px;
  margin-bottom:5px;
}

.color-toggles {
  border-top:1px solid white;
}

.color-toggles img {
  margin-top:-10px;
}

.type-color-container {
  position: relative;
  padding-left: 18px;
  margin-right:-22px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.type-color-container input {
  opacity: 0;
  cursor: pointer;
  margin-right: 0;
}

.type-color-container img {
  padding-top:10px;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  margin-top:-4px;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: white;
  border:2px solid white;
  border-radius: 50%;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

#about {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.65);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index:11;

}

#about .card {
  padding:8px 20px 20px 20px;
  background-color: white;
  width:550px;
}

#closebutton{
  padding: 5px 15px 5px 15px;
  box-sizing:border-box;
  border:1px solid white;
  background-color:black;
  color:white;
  transition-duration:0.4s;
  font-family:'Univers LT Std';
  font-size:12px;
}

.card h1 {
  color:black;
  font-weight: normal;
  font-family:'Univers LT Std';
  font-size:18px;
}

.card p {
  color:black;
  font-family:'Univers LT Std';
  font-size:15px;
}

#closebutton:hover {
  background-color:white;
  color:black;
  border:1px solid black;
}

/* On mouse-over, add a grey background color */
.type-color-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a background */
.type-color-container input:checked ~ .checkmark {
  background-color: black;
  border:2px solid white;
}

/* Show the indicator (dot/circle) when checked */
.type-color-container input:checked ~ .checkmark:after {
  display: block;
}

.bottom-slider-container {
  border-top:1px solid white;
  display:flex;
  flex-direction:row;
}

.slider-container2a {
  margin-top:2px;
  list-style-type:none;
  padding-left:0;
  margin-right:10px;
}

.slider-container2b {
  margin-top:2px;
  list-style-type:none;
  padding-left:10px;
}

.glitch-container{
  margin-top:2px;
  list-style-type:none;
  padding-left:0;
  margin-right:10px;
}

#inverter {
  filter: invert(0%);
}

#invertertoggle1 {filter: invert(0%);}
#invertertoggle2 {filter: invert(0%);}
#invertertoggle3 {filter: invert(0%);}
#invertertoggle4 {filter: invert(0%);}
#invertertoggle5 {filter: invert(0%);}
#invertertoggle6 {filter: invert(0%);}
#invertertoggle7 {filter: invert(0%);}
#invertertoggle8 {filter: invert(0%);}
#invertertoggle9 {filter: invert(0%);}
#invertertoggle10 {filter: invert(0%);}
#invertertopleft {filter: invert(0%);}
#invertertopright {filter: invert(0%);}
#inverterbottomleft {filter: invert(0%);}
#inverterbottomright {filter: invert(0%);}

.button-container-sizes {
  padding-left: 0px;
  margin-top: 7px;
  list-style-type:none;
  display:flex;
  flex-direction: column;
}

.button-container-sizes li {
  text-align:center;
  font-size: 12px;
  float:left;
  margin:0px 6px 0px 0px;
  width:127px;
  height:25px;
  position:relative;
}

.button-container-sizes label, .button-container-sizes input {
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.button-container-sizes input[type="radio"] {
  opacity:0.011;
  z-index:10;
}

.button-container-sizes input[type="radio"]:checked + label {
  background:white;
  color:black;
}

.button-container-sizes label {
  padding:5px;
  border:1px solid white;
  cursor:pointer;
  z-index:9;
}

.button-container-sizes label:hover {
  background: #dadada;
  border:1px solid #dadada;
  color:black;
}

#scale-down {
  zoom:0.9;
}
