#drag0 { top:25%; left:50%;  display: block; }
#drag1 { top:50%; left:50%;  display: block; }
#drag2 {top:75%;  left:50%;   display: block; }
#drag3 {top:10%;left:10%;  display: none;}
#drag4 {top:20%;left:10%;  display: none;}
#drag5 {top:30%;left:10%;  display: none;}
#drag6 {top:40%;left:10%;  display: none;}
#drag7 {top:50%;left:10%;  display: none;}
#drag8 {top:60%;left:10%;  display: none;}
#drag9 {top:70%;left:10%;  display: none;}

#widget {
  display:block;
}

#textMode0 { margin-top:-5px; display:block; }
#imageMode0 { margin-top:-5px; display:none; }

#textMode1 { margin-top:-5px; display:block; }
#imageMode1 { margin-top:-5px; display:none; }

#textMode2 { margin-top:-5px; display:block; }
#imageMode2 { margin-top:-5px; display:none; }

#textMode3 { margin-top:-5px; display:block; }
#imageMode3 { margin-top:-5px; display:none; }

#textMode4 { margin-top:-5px; display:block; }
#imageMode4 { margin-top:-5px; display:none; }

#textMode5 { margin-top:-5px; display:block; }
#imageMode5 { margin-top:-5px; display:none; }

#textMode6 { margin-top:-5px; display:block; }
#imageMode6 { margin-top:-5px; display:none; }

#textMode7 { margin-top:-5px; display:block; }
#imageMode7 { margin-top:-5px; display:none; }

#textMode8 { margin-top:-5px; display:block; }
#imageMode8 { margin-top:-5px; display:none; }

.widgetTop {
  font-family: 'IBM Plex Sans', sans-serif;
  display:flex;
  flex-direction: row;
  font-size:12px;
  margin-top:-12px;
}

ul {
  list-style-type:none;
  display:flex;
  flex-direction: row;
  margin-left:-20px;
  margin-top:-7px;
}

.widgetTop h1 {
  padding-top:5px;
  text-align:center;
  font-size:10px;
}

input[type="radio"] {
  opacity:0.011;
  z-index:10;
}

input[type="radio"]:checked + label {
  background:white;
  color:black;
}

input[type="radio"] + label {
  padding:0 25px 0 25px;
  margin:0 2px 0 2px;
  border:1px solid white;
  cursor:pointer;
  z-index:9;
}

input[type="radio"] + label:hover {
  background: #dadada;
  border:1px solid #dadada;
  color:black;
}

.ui-widget-content {
  width:200px;
  height:115px;
  margin-left:-100px;
  margin-top:-40px;
  top:50%;
  left:50%;

  cursor: move;

  position:absolute;
  color:white;
  background-color:rgba(0,0,0,0);
  border: 1px solid #848484;
  border-style: dotted none dotted none;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size:10px;
}

.imageHold {
  display:none;
}

select {
  width:95px;
  height:15px;
  font-size:10px;
  margin-top:5px;
  margin-right:3px;
}

input[type="text"]{
  height:20px;
  font-size:14px;
  width:196px;
}

.bottomButtons{
  position: absolute;
  display:flex;
  flex-direction:row;
  /* justify-content: center; */
  bottom:0px;
  left:50%;
  transform: translate(-50%,0%);
  height: 20px;

  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size:14px;
  padding:0;
}

.countButton{
  margin-left: 17px;
  margin-right: 20px;

  height:20px;
  width:20px;

  color:white;
  background-color: black;
  border: 1px white solid;
  border-radius:50%;
}

.countButton:focus{
  background-color: black;
  color: white;

  outline:none;
}

.countButton:hover{
  background-color: white;
  color: black;
}

.countButton:active{
  background-color: #2196F3;
  border:none;
  color: black;
}

.switch {
  width:40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider.round:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  right: 4px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  position: absolute;
  margin-left:-4px;
  width:40px;
  cursor: pointer;
  top: 0;
  transform: translate(-50%,0%);

  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.finalOptions {
  display:flex;
  height:10px;
  padding-right:5px;
}

.finalOptions p {
  margin: 3 8 0 0;
}

input[type="checkbox"] {
  margin:2 4 0 0;
}

input[type="color"] {
  margin:1 4 0 0;
	-webkit-appearance: none;
	border: none;
	width: 28px;
	height: 15px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}


p {
  margin:0 0 0 0;
}
/* .moveZbutton{
  margin:0 4 0 0;
  font-size:10;
  padding:0;
  height:16;
  width:30;
  z-index: 0;

  border:none;

  color:white;
  background-color: rgba(0,0,0,0);

  border:1px white solid;
}

.moveZbutton:focus{
  background-color: black;
  color: white;

  outline:none;
}

.moveZbutton:hover{
  background-color: white;
  color: black;
}

.moveZbutton:active{
  background-color: #2196F3;
  border:none;
  color: black;
} */
